body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #67B7F7, #ffffff);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}

.back-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  margin-right: 10px;
}

h1 {
  font-size: 20px;
  font-weight: bold;
}

main {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 600px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-top: 10px;
}

input, select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.column {
  width: 48%;
}

.checkbox {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.guardar-btn {
  background-color: #C6CBCF;
  border: none;
  padding: 10px;
  font-size: 16px;
  margin: 0 auto;
  margin-top: 20px;
  cursor: pointer;
  width: 50%;
  border-radius: 40px;
  font-weight: bold;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
}

.guardar-btn:hover {
  background-color: #ccc; /* Color más oscuro al pasar el mouse */
}

table {
  width: 100%;
  border-collapse: collapse;
}

@media (max-width: 600px) {
  .row {
      flex-direction: column;
  }
  .column {
      width: 100%;
  }
}
