/* General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

h1 {
    text-align: center;
    color: #007BFF;
    margin-top: 20px;
}

/* Formulario */
form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

label {
    margin-bottom: 5px;
    display: block;
    font-weight: bold;
    color: #333;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;  /* Ajustado para más separación */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
    min-height: 80px;
}

/* Botón */
.btn {
    display: block;
    width: 100%;
    padding: 15px;  /* Ajustado para mayor separación del botón */
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 20px;  /* Agregado para separar el botón de los inputs */
}

.btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

/* Estilo del ícono botón */
.boton {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 30px;
    height: 30px;
    transform: rotate(90deg);
}

/* Responsivo */
@media (max-width: 768px) {
    form {
        width: 90%;
    }
}
