
.boton-fondo {
  min-width: 200px;
  height: 30px;
  border-radius: 20px;
  color: white;
  font-size: 13px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #2400F9;
  margin-top: 100px;

  }
  
  .item {
      display: flex;
      margin-bottom: 20px;
      padding: 10px;
      background: #D9D9D9;
      border-radius: 10px;
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
      width: 950px;
    }
    .cart {
      padding: 20px;
      margin-left: 140px;
      margin-top: 40px;
  
    }

    .container {
      width: 900px;
      text-align: center;
    }

    .titulo {
      color: black;
      font-size: 26px;
      font-weight: 800;
      margin: 0px 0;
    }

    
  .item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    background: #D9D9D9;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  }
  
  .item img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
  }
  
  .details {
    flex-grow: 1;
    text-align: left;
    max-width: 70%;
  }
  
  .details h3 {
    font-size: 16px;
    font-weight: 600;
    color: #333;
  }
  
  .price {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-left: 700px;
    margin-top: -100px;
    position: absolute;

  }
  .logo {
    width: 240px;
    height: 160;
    margin: 0 auto;
    display: block;
  }    .boton {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 30px;
    height: 30px;
    transform: rotate(90deg);
  }
  
  .producto{
    color: #2400F9;
  }

  
  @media (max-width: 700px) {
    .container {
      width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
      text-align: center;
      margin-left: 0;
    }
    .item {
      flex-direction: column;
      align-items: flex-start;
      width: 89%;
  }
    .cart {
      padding: 10px; /* Reduce el padding para dispositivos pequeños */
      margin: 20px auto; /* Centra y ajusta el margen */
      width: 100%; /* Asegura que ocupe todo el ancho disponible */
    }
  
   
  
    .item img {
      width: 120px; /* Ajusta el tamaño de la imagen */
      height: 120px;
      margin: 0 auto 10px; /* Centra la imagen */
    }
  
    .details {
      max-width: 100%; /* Permite que el texto ocupe todo el ancho */
      text-align: left; /* Alinea el texto a la izquierda */
    }
  
    .price {
      position: relative; /* Quita la posición absoluta */
      margin-left: 0; /* Ajusta el margen */
      margin-top: 10px; /* Espaciado superior para separar del contenido */
      font-size: 20px; /* Reduce el tamaño de la fuente */
      text-align: left; /* Alinea el precio a la izquierda */
    }
  }
  