* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
.logo {
    width: 20%;
    height: 24%;
    position: absolute;
    top: 20px;
    left: 48%;
    transform: translateX(-43%);
}
.boton-movido{  
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.form {
    width: 100%;
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
}

.input {
    position: relative;
    margin-bottom: 10px;
    transform: translateX(13%);
    margin-left: 20px;

}

.input-background {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 20px;
    border: none;
    position: absolute;
}

.input-text {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.input-field {
    width: 350px;
    height: 50px;   
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 15px;
    background: #D9D9D9; 
}

.input-fieldd {
    width: 172px;
    height: 50px;   
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 15px;
    background: #D9D9D9; 
}
.instruction {
    text-align: center;
    color: black;
    font-size: 32px;
    font-weight: 800;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-60%);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0!important;
    font-family: 'Inter', sans-serif;
}


.button {
    width: 200px;
    height: 30px;
    border-radius: 20px;
    color: white;
    font-size: 13px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.boton-fondo {
    padding: 10px 20px;
    background: #2400F9;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 13px;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center; 
    align-items: center; 
    transition: background 0.3s;
    margin-left: 10px;

}

.boton-fondo:hover {
    background: #1d00d9; 
}
.terms-container {
    display: flex;
    align-items: center; 
    gap: 10px; 
}

.checkbox {
    width: 20px;
    height: 20px;
    background: white;
    border: 1px solid black;
}

.text-terms {
    color: #00A3FF;
    font-size: 16px;
    font-family: Inter, sans-serif;
    font-weight: 700;
}
.terms-container {
display: flex;
align-items: center;
cursor: pointer;
font-family: Arial, sans-serif;
font-size: 14px;
color: #333;
}

.checkbox {
width: 20px;
height: 20px;
border: 2px solid #333;
display: inline-block;
margin-right: 10px;
position: relative;
}

.checkbox.checked::after {
content: "";
position: absolute;
top: 0px;
left: 0px;
width: 20px;
height: 20px;
background-color: #333;
}

.text-terms {
font-size: 20px;
color: #333;
}
.icono {
width: 25px;
height: 35px;
position: absolute;
left: -28px;
top: 5px;
}
.iconos {
width: 40px;
height: 44px;
position: absolute;
left: -40px;
top: 50px;
}

.terms {
    display: flex;
    align-items: center;
}

.izquierda {
    margin-right: 8px; 
}
button:disabled {
    color: white; /* Color del texto */
    background-color: gray; /* Fondo gris */
    border: 1px solid darkgray; /* Borde */
    cursor: not-allowed; /* Cambia el cursor */
    opacity: 0.6; /* Hace el botón más opaco */
}


@media (max-width: 400px) {
    .logo {
        width: 80%;
        height: 24%;
        position: absolute;
        top: 20px;
        left: 44%;
    }

    
.input {
    position: relative;
    margin-bottom: 10px;
    margin-left: -20px;
}



.input-text {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.input-field {
    width: 80%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 15px;
    background: #D9D9D9; 
}

.input-fieldd {
    width: 39%;
    height: 50px;   
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 15px;
    background: #D9D9D9; 
}
}