/* General */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Título */
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #007BFF;
}

/* Tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

thead {
    background-color: #007BFF;
    color: #fff;
}

th, td {
    text-align: left;
    padding: 10px;
    border: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f4f4f4;
}

tbody tr:hover {
    background-color: #e9f7ff;
}

/* Imágenes */
img {
    width: 50px;
    height: auto;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
}

/* Botones */
.btn {
    display: inline-block;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn.editar {
    background-color: #28a745;
    padding: 8px 22px 8px 22px;
}

.btn.eliminar {
    background-color: #dc3545;
}

.btn:hover {
    transform: scale(1.05);
    opacity: 0.9;
}
.boton {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 30px;
    height: 30px;
    transform: rotate(90deg);
  }

/* Responsivo */
@media (max-width: 768px) {
    table {
            font-size: 14px;
            overflow-x: auto;
            margin-top: 25%;
    }
    th, td {
        padding: 8px;
    }
    .container{
        overflow-x: auto; /* Permite desplazamiento horizontal si es necesario */
    }

    h1 {
      width: 328px;
      position: absolute;
    }
   
    
}
